<select
  class="locale-menu"
  data-test-field="Locale"
  {{on "input" this.updateLocale}}
>
  <option value="" disabled selected>
   {{t "component.locale-menu.select-your-preferred-language"}}
  </option>

  {{#each this.locale.menuOptions as |menuOption|}}
    <option value={{menuOption.value}}>
      {{menuOption.label}}
    </option>
  {{/each}}
 </select>