*, *:after {
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1; /* should be not quite white */
    color: #1C304A; /* using a dark blue that will compliment Ember Orange */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    line-height: 1.2;
    padding: 20px;
}
header {
    margin-bottom: 16px;
}
.header-logo {
    display: block;
    margin: 0 auto;
    max-width: 225px;
}
h1 {
    font-weight: normal;
}
h1, h3 {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
h2 {
    background-color: #1C304A;
    color: #F1F1F1;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: -30px;
    padding: 15px 30px;
    width: auto;
}
h3 {
    border-bottom: 1px solid #e04E39;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h4 {
    margin-bottom: 0;
}
.grid {
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 48% 48%;
}
code[class*="language-"], pre[class*="language-"] {
    white-space: pre-wrap!important;
}
section {
    margin-top: 40px;
}
h2 + section {
    margin-top: 1em;
}
.permalink {
    color: #c1c1c1;
    text-decoration: none;
    padding: 0 15px 0 5px;
}
.intro {
    font-size: 1.1em;
    line-height: 1.5;
}